/* common css start */
body{
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	background-color: #19191B;
	overflow-x: hidden;
}
/* common css end */
/* header start */
header{
	padding: 45px 0;
}
.h_navbar{
	padding: 0 !important;
}
header .menu li a{
	margin: 0 10px;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	color: rgba(255, 255, 255, 0.7) !important;
	letter-spacing: -0.500211px;
	transition: .4s ease;
}
header .menu li a:hover {
	color: #5454D4 !important;
}
.hm_btn{
	text-align: right;
}
.c_btn{
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.500211px;
	padding: 10px 25px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	backdrop-filter: blur(2px);
	border-radius: 5px;
	transition: .4s ease;
}
.c_btn:hover {
	background-color: #5454D4;
	color: #fff;
	border: 1px solid #5454D4;
}
.n_u{
	margin-right: 20px;
}
/* header end */
/* banner start */
.b_row{
	margin-top: 50px;
}
.banner_text h1{
	font-family: roboto;
	font-weight: 700;
	font-size: 80px;
	line-height: 84px;
	color: #FFFFFF;
}
.banner_text p{
	margin: 20px 0 30px;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: -0.656526px;
	color: rgba(255, 255, 255, 0.7);
}
.banner_text a{}
.banner_text a button{
	padding: 10px 25px;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
	background: #5454D4;
	border: 1px solid #5454D4;
	border-radius: 4px;
	transition: .4s ease;
}
.banner_text a button:hover {
	background-color: transparent;
	border: 1px solid #fff;
}
.banner_img{
    text-align: right;
    position: relative;
}
.banner_img img{
    width: 80%;
}
.v_1{
	width: 15% !important;
	position: absolute;
	top: 0;
	left: 0;
}
.v_2{
	width: 12% !important;
    position: absolute;
    top: 0;
    top: ;
    right: 0;
}
.v_3{
	width: 15% !important;
	position: absolute;
	bottom: 0;
	left: 0;
}
.v_4{
	width: 15% !important;
	position: absolute;
	bottom: 0;
	right: 0;
}
/* banner end */
/* about start */
.about{}
.s_title{
	margin: 120px 0 50px;
}
.s_left h2{
	font-family: roboto;
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
	color: #FFFFFF;
}
.s_right p{
	font-size: 21px;
	line-height: 39px;
	letter-spacing: -0.656526px;
	color: rgba(255, 255, 255, 0.7);
	}
	.s_video{
	background-image: url(../img/video.png);
	width: 100%;
	height: 550px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.s_video a{
	display: flex;
	justify-content: center;
	align-items: center;
}


/* about end */
/* service start */
.service{
	position: relative;
}
.service_title h2{
	margin-top: 120px;
	font-family: roboto;
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
	text-align: center;
	color: #FFFFFF;
}
.s_item{
	padding: 0 20px;
	margin-top: 50px;
	text-align: center;
}
.s_item h4{
	margin-top: 10px;
	font-weight: 600;
	font-size: 28px;
	line-height: 38px;
	letter-spacing: -0.750316px;
	color: #FFFFFF;
}
.s_item p{
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.500211px;
}
.sv_1{
	position: absolute;
	top: 8%;
	left: 8%;
}
.sv_2{
	position: absolute;
	top: 25%;
	right: 10%;
}
/* service end */
/* portfolio start */
.portfolio{
	position: relative;
}
.p_title h2{
	margin: 120px 0 50px;
	font-weight: 800;
	font-size: 58px;
	line-height: 79px;
	color: #FFFFFF;
}
.p_1{
	position: absolute;
	top: 0;
	left: 5%;
}
.p_2{
	position: absolute;
	top: 30%;
	right: 12%;
}
.owl-theme .owl-dots .owl-dot span{
	display: none;
}
.owl-dots button.owl-dot{
	width: 15px;
	height: 15px;
	background: rgba(84, 84, 212, .6);
	margin: 5px;
	border-radius: 100%;
}
.owl-dots button.owl-dot.active{
	background: rgba(84, 84, 212, 1);
}
/* portfolio end */
/* contact start */
.contact{
	position: relative;
	background-color: #1C1B1D;
	padding: 120px 0;
}
.contact_left h2{
	font-family: roboto;
	font-weight: 700;
	font-size: 60px;
	line-height: 66px;
	color: #FFFFFF;
}
.contact_right button{
	margin-left: 20%;
	padding: 10px 25px;
	font-weight: 700;
	font-size: 21px;
	line-height: 29px;
	text-align: center;
	color: #FFFFFF;
	background: #5454D4;
	border: 1px solid #5454D4;
	border-radius: 5px;
	transition: .4s ease;
}
.contact_right button:hover {
	background: transparent;
	border: 1px solid #fff;
}
.c_img_1{
	position: absolute;
	top: 0;
	left: 5%;
}
.c_img_2{
	position: absolute;
	top: 25%;
	right: 10%;
}
.c_img_3{
	position: absolute;
	bottom: -7%;
	left: 10%;
}
/* contact end */
/* footer start */
footer{
	padding: 80px 0;
}
.f_menu{
	text-align: right;
	margin-bottom: 0;
}
.li_2{
	padding: 0 15px;
}
.f_menu a{
	margin: 0 auto;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	display: block;
	text-decoration: none;
	transition: .4s ease;
}
.f_menu a:hover {
	color: #5454D4;
}
.f_3 span{
	font-size: 16px;
	text-align: right;
	letter-spacing: -0.500211px;
	color: rgba(255, 255, 255, 0.7);
	display: block;
}
/* footer end */
/* footer end */

/* go to top start */
.t_top{
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 1;
	display: none;
}
.t_top i{
	color: #5454D4;
	font-size: 45px;
	cursor: pointer;
	transition: .4s ease;
}

.t_top i:hover{
	transform: translatey(-8px);
}
/* go to top end */

